.search {
  max-width: 900px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search #submit {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #da552f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.search #submit:hover {
  opacity: 0.7;
  text-decoration: none;
}

.search input {
  border-radius: 5px;
  font-size: 20px;
  height: 35px;
  width: 770px;
}
