.commit {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.author-info {
  display: flex;
  justify-content: space-between;
  padding-bottom:10px;
  font-size: 16px;
  font-weight:600;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 16px;
  font-weight:600;
}

.message-title {
  font-size: 16px;
  font-weight:600;
  padding-bottom: 5px;
}

.message-body {
  font-size: 14px;
  font-weight:300;
}