.card {
    max-width: 900px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.card-info {
  display: flex;
}

.info-title {
  font-size: 16px;
  font-weight: 600;
  white-space: pre;
  color: #da552f;
  padding-bottom: 15px;
}

.no-padding-bottom {
  padding-bottom: 0;
}