.error-title {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: arial;
    color: #da552f;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.error-body {
    text-align: center;
}

.error-message {
    padding-bottom: 100px;
}

.buttom {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}