.callback-title {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: arial;
    color: #da552f;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}