.commits-list {
    max-width: 900px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.commits-list-title {
    font-size: 16px;
    font-weight: 600;
    white-space: pre;
    color: #da552f;
    padding-bottom: 15px; 
}