.home {
    max-width: 900px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.home-title {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: arial;
    color: #da552f;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
  

.cluster {
    display: flex;
    justify-content: space-between;
}

.home-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 45%;
  }

.buttom-wrapper {
    text-align: center;
    padding-bottom: 10px;
}

.buttom {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.search-text {
    padding-bottom: 45px;
}

.login-text {
    padding-bottom: 45px;
}

